<%- include("partials/header"); -%>

<section id="categories" class="section-p1">
    <div class="categories-bar">
        <ul class="categories-list">
            <li><a class="category-item" href="/category/general">General</a></li>
            <li><a class="category-item" href="/category/business">Business</a></li>
            <li><a class="category-item" href="/category/entertainment">Entertainment</a></li>
            <li><a class="category-item" href="/category/health">Health</a></li>
            <li><a class="category-item" href="/category/science">Science</a></li>
            <li><a class="category-item" href="/category/sports">Sports</a></li>
            <li><a class="category-item" href="/category/technology">Technology</a>
            <li><a class="category-item active" href="/favourites">Favourites</a></li>
            </li>
        </ul>
    </div>
</section>

<h1 id="loginFirst">Login First</h1>